* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.5625vw;
    font-family: "Microsoft Yahei";
}

html,
body {
    height: 100%;
    width: 100%;
}
/* page1 */
.page1{
	height: 100%;
    width: 100%;
    display: block;
    background: url("../img/p1_bg.png") center no-repeat;
    background-size:100%;
}
.circle_bg{
    position: absolute;
    width: 80vw;
    height: 80vw;
    left:10vw;
    top:10vw;
    background: url("../img/p1_circle.png") center no-repeat; 
}
.cell{
    position:absolute;
    width: 32vw;  
    height: 32vw;
    border-radius: 50%;
    /* border:1vw solid rgba(255,0,0,0.5); */
    font-size:30vw;
    overflow: hidden;
    top:28vw;
    left:25vw;
    opacity:1;
    animation:go 6s;
    -webkit-animation:go 6s;
    transform-origin:left bottom;
}
.num{
    position:absolute;
    width: 29vw;
    color:#f7f7f7;
    line-height: 29vw;
    font-size: 29vw;  
    text-align: center;
    text-shadow:1px 1px 2px rgba(255,255,255,.3);
    animation:run 6s steps(6);
    -webkit-animation:run 6s steps(6);
}
@keyframes run{
    0%{top:0;}
    100%{top:-6em;}
}
@-webkit-keyframes run{
    0%{top:0;}
    100%{top:-6em;}
}
@keyframes go{
  0%   {opacity:1;}
  84%  {opacity:1;transform:rotate(0deg) scale(1);}
  100% {opacity:0;transform:rotate(360deg) scale(.01);}
}
@-webkit-keyframes go{
  0%   {opacity:1;}
  84%  {opacity:1;transform:rotate(0deg) scale(1);}
  100% {opacity:0;transform:rotate(360deg) scale(.01);}
}
.p1_title{
     position:absolute;
     width: 28vw;
     height: 28vw;
     top:2vw;
     left: 2vw;
     background: url("../img/p1_title.png") center no-repeat;
     display: none;
}
/* page2 */
.page2{
    display: none;
    height: 100%;
    width: 100%;
    background: url("../img/p2_bg.jpg") center no-repeat;
    background-size:100%;
}
a.page2_btn{
    position: absolute;
    left: 40vw;
    top: 40vh;
    line-height: 20vw;
    display: block;
    text-decoration: none;
    background-color: #f7f7f7;
    color: #a7a7a7;
    width: 20vw;
    height: 20vw;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 3vw 8vw #aaa, inset 0px 2vw 8vw #fff;
    border: solid 1vw #ccc;
}
 a.page2_btn:active{
            box-shadow: none;
            border: solid 0.5vw #a7a7a7;/* 点击出现阴影线条 */
        }
a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
.img_airplane{
    position: absolute;
    bottom: 0;
    left: 40vw;
    width: 20vw;
    height: 20vw;
} 
.airplay{
    position: absolute;
    bottom: 0;
    left: 40vw;
    width: 20vw;
    height: 20vw;
    -webkit-animation: fly 5s linear ;
    -o-animation: fly 5s linear ;
    animation: fly 5s linear ;
    animation-fill-mode:forwards;/*动画结束保持状态不变*/
    -webkit-animation-fill-mode:forwards;
}
@keyframes fly{
    0%{bottom:0vh; scale(0.9, 0.9);} 25%{bottom:25vh;scale(0.8, 0.8);} 50%{bottom:50vh;scale(0.7, 0.7);} 75%{bottom:75vh;scale(0.2, 0.2);} 100%{bottom:100vh;scale(0.1, 0.1);}
}
@-webkit-keyframes fly{
    0%{bottom:0vh; scale(0.9, 0.9);} 25%{bottom:25vh;scale(0.8, 0.8);} 50%{bottom:50vh;scale(0.7, 0.7);} 75%{bottom:75vh;scale(0.2, 0.2);} 100%{bottom:100vh;scale(0.1, 0.1);}
}
/* page3 */
.page3 {
	display: none;
    height: 100%;
    width: 100%;
    background: url("../img/p3_bg.jpg") center no-repeat;
    background-size:100%;
}

.music {
    position: absolute;
    top: 3vh;
    right: 4vw;
    z-index: 999;
    width: 10vw;
    height: 10vw;
    border: 4px solid #ef1639;
    border-radius: 50%;
}

.music img:first-of-type {
    position: absolute;
    width: 95%;
    padding: 2px;
    margin: auto;
}

.music img:last-of-type {
    position: absolute;
    width: 21%;
    top: 0;
    right: 2vw;
    margin: auto;
}
.music img.music_disc{
	-webkit-animation: music_disc 4s linear infinite ;
	-o-animation: music_disc 4s linear infinite ;
	animation: music_disc 4s linear infinite ;
}
@keyframes music_disc{
	0%{-webkit-transform:rotate(0deg);transform: rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);transform: rotate(360deg);}
}
@-webkit-keyframes music_disc{
	0%{-webkit-transform:rotate(0deg);transform: rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);transform: rotate(360deg);}
}
.sun {
    position: absolute;
    top: 17.3vh;
    left: 9.5vw;
}

.house {
    position: absolute;
    top: 19.94vh;
    left: 17vw;
}
.people {
    position: relative;
    left: 34vw;
    top: 35vh;
    display: none;
}
/*屏幕缩小与此处有关 reletive*/
 .add{
	position:absolute;
    left: 34vw;
    top: 35vh;
	display: block;
}
 
.add img.play {
    position: relative;
    -webkit-animation: people_walk 4s linear;
    -o-animation: people_walk 4s linear;
    animation: people_walk 4s linear;
    animation-fill-mode:forwards;
     -webkit-animation-fill-mode:forwards;
}

@keyframes people_walk {
    0% {top: 0vh;left: -25vw;}
    25% {top: 0vh;left: -20vw;}
    50% {top: 0vh;left: -15vw;}
    75% {top: 0vh;left: -10vw;}
    100% {top: 0vh;left: 0vw;}
}
@-webkit-keyframes people_walk {
    0% {top: 0vh;left:-25vw;}
    25% {top: 0vh;left: -20vw;}
    50% {top: 0vh;left: -15vw;}
    75% { top: 0vh;left: -10vw;}
    100% {top: 0vh;left: 0vw;}
}

.p1_dialogue1 {
    position: absolute;
    width: 30vw;
    height:10vw;
    top: 30vh;
    left: 47vw;
    background: url("../img/img_dia1.png") no-repeat center center;
    -webkit-animation: dia_play 4s linear 1s;
    -o-animation: dia_play 4s linear 1s;
    animation: dia_play 4s linear 1s;
    animation-fill-mode:forwards;/*动画结束保持状态不变*/
    -webkit-animation-fill-mode:forwards;
    opacity: 0;
}
    

@keyframes dia_play {
    0% {opacity: 0.5;transform: scale(0.1, 0.1);-webkit-transform: scale(0.1, 0.1);}
    50% {opacity: 0.7; transform: scale(2.0, 2.0);-webkit-transform: scale(2.0, 2.0);}
    100% { opacity: 1;transform: scale(1.0, 1.0);-webkit-transform: scale(1.0, 1.0);}
}

 @-webkit-keyframes dia_play {
    0% {opacity: 0.5;transform: scale(0.1, 0.1);-webkit-transform: scale(0.1, 0.1);}
    50% {opacity: 0.7; transform: scale(2.0, 2.0);-webkit-transform: scale(2.0, 2.0);}
    100% { opacity: 1;transform: scale(1.0, 1.0);-webkit-transform: scale(1.0, 1.0);}
}
 
.p1_dialogue2 {
    position: absolute;
    width: 50vw;
    height: 20vh;
    left: 2vw;
    top: 65vh;
    background: url("../img/img_dia2.png") no-repeat center center;
    background-size: 100%;
}

.p1_dialogue3 {
    position: absolute;
    width: 50vw;
    height: 20vh;
    left: 48vw;
    bottom: 0;
    background: url("../img/img_dia3.png") no-repeat center center;
    background-size: 80%;
} 